.myDiv {
  position: static;
  border: 4px solid #e3d7bf;
  width: auto;
  height: auto;
}

@font-face {
    font-family: 'Sans-serif';
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;	
}

@font-face {
    font-family: 'Sans-serif';
    
    font-weight: bold;
    font-style: oblique;
    font-size: xx-large;
}

@font-face {
    font-family: 'Sans-serif';
    font-weight: bold;
    font-style: normal;
    font-size: xx-large; 
}

body {
    font-family: "Sans-serif"; 
    font-weight: normal;
    background-color: #211a1a;
    color: #e3d7bf;
    max-width: 800px;
    font-size: x-large;	
    text-align: centre;
}

a, a:visited { color: #e16734; }
a:hover, a:focus { color: #82A6B0; }

h1, h2, h3, h4, h5 {
    font-weight: bold;
    padding-left: 35px;
    /*text-shadow: 1px 2px 0px #476871;*/
}
title {
	padding-left: 35px;

       }




