.myDiv {
  position: relative;	
  border: 2px solid #e3d7bf;
  width: 100%;
  height: auto;
  align-items: center;
  
}

@font-face {
    font-family: 'Sans-serif';
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;	
}

@font-face {
    font-family: 'Sans-serif';
    
    font-weight: bold;
    font-style: oblique;
    font-size: xx-large;
}

@font-face {
    font-family: 'Sans-serif';
    font-weight: bold;
    font-style: normal;
    font-size: xx-large; 
}

body {
    font-family: "Sans-serif"; 
    font-weight: normal;
    background-color: #211a1a;
    color: #e3d7bf;
    max-width: 800px;
    font-size: x-large;	
    align="centre";
}

a, a:visited { color: #e16734; }
a:hover, a:focus { color: #82A6B0; }

h1, h2, h3, h4, h5 {
    font-weight: bold;
    /*text-shadow: 1px 2px 0px #476871;*/
}






